{% extends "base/base.html" %}
{% load static %}
{% block title %}
    Персональний кабінет
{% endblock %}
{% block content %}

    <section class="account">
      <div class="wrapper">
        <div class="account__menu">
          <div class="account__menu__description">
            <img
              src="{{ this_user.avatar.url }}"
              alt="avatar"
              class="account__menu__description__image"
            />
            <div class="account__menu__description__text">
              <p class="account__menu__description__name">
                 <span>{{ this_user.first_name }} </span><span>{{ this_user.last_name }}</span>
              </p>
              <p class="account__menu__description__email">
               {{ this_user.email }}
              </p>
              <p class="account__menu__description__number">
                {{ user.phone }}
              </p>
            </div>
              <div class="account__menu__description__responsive__bar">
              <span class="arrow">
                <img src="{% static 'IMG/account/arrow.png' %}" alt="" class="down" />
              </span>
            </div>
          </div>
          <div class="account__menu__nav">
            <ul class="account__menu__nav__list">
              <a href="#">
                <li class="account__menu__nav__list__item">
                  <img src="{% static 'IMG/account/avatar.png' %}" alt="" />
                  <span>Особистий кабінет</span>
                </li>
              </a>
              <a href="#">
                <li class="account__menu__nav__list__item">
                  <img src="{% static 'IMG/account/script.png' %}" alt="" />
                  <span>Мої оголошення</span>
                </li>
              </a>
              <a href="{% url "main:AddPost" %}">
                <li class="account__menu__nav__list__item">
                  <img src="{% static 'IMG/account/cucumber.png' %}" alt="" />
                  <span>Добавити оголошення</span>
                </li>
              </a>
              <a href="#">
                <li class="account__menu__nav__list__item">
                  <img src="{% static 'IMG/account/script.png' %}" alt="" />
                  <span>Налаштування</span>
                </li>
              </a>
            </ul>
          </div>
        </div>
          <div class="account__info__cabinet"><h1>Тут будуть всі твої оголошення</h1></div>
      </div>
    </section>

{% endblock %}