{% load static %}
<header class="header header-large">
    <div class="wrapper">
        <div class="header__inner">
            <div class="header__logo">
                <a href="#" class="header__logo__link"
                ><img src="{% static 'IMG/Logo.png' %}" alt="" class="header__logo__image"
                /></a>
            </div>
            <div class="header__main">
                <ul class="header__main__list">
                    <li class="header__main__list__item">
                        <a href="#" class="header__main__list__item__link">Автомобілі</a>
                    </li>
                    <li class="header__main__list__item">
                        <a href="#" class="header__main__list__item__link">Автотовари</a>
                    </li>
                    <li class="header__main__list__item">
                        <a href="#" class="header__main__list__item__link"
                        >Автозапчастини</a
                        >
                    </li>
                </ul>
            </div>
        </div>

        <div class="header__registration">
            <img src="{% static 'IMG/avatar.png' %}" alt="" class="header__registrarion__image"/>
            <a href="#" class="header__registration__login">Вхід</a>
        </div>
    </div>
</header>

<header class="header__responsive">
    <div class="wrapper">
        <div class="header__responsive__logo">
            <a href="#" class="header__responsive__logo__link"
            ><img
                    src="{% static 'IMG/Logo.png' %}"
                    alt=""
                    class="heade__responsiver__logo__image"
            /></a>
        </div>
        <div class="header__responsive__registration">
            <img
                    src="{% static 'IMG/avatar.png' %}"
                    alt=""
                    class="header__responsive__registrarion__image"
            />
            <a href="#" class="header__responsive__registration__login">Вхід</a>
            <img
                    src="{% static 'IMG/menu.png' %}"
                    alt=""
                    class="header__responsive__registration__menu"
            />
        </div>
    </div>
    <div class="header__responsive__main">
        <ul class="header__responsive__main__list">
            <li class="header__responsive__main__list__item">
                <a href="#" class="header__responsive__main__list__item__link"
                >Автомобілі</a
                >
            </li>
            <li class="header__responsive__main__list__item">
                <a href="#" class="header__responsive__main__list__item__link"
                >Автотовари</a
                >
            </li>
            <li class="header__responsive__main__list__item">
                <a href="#" class="header__responsive__main__list__item__link"
                >Бендер</a
                >
            </li>
        </ul>
    </div>
</header>