{% load static %}
<header class="header header-large">
    <div class="wrapper">
        <div class="header__inner">
            <div class="header__logo">
                <a href="{% url "main:vehicle_list" %}" class="header__logo__link"
                ><img src="{% static 'IMG/home/Logo.png' %}" alt="" class="header__logo__image"
                /></a>
            </div>
            <div class="header__main">
                <ul class="header__main__list">
                    <li class="header__main__list__item">
                        <a href="#" class="header__main__list__item__link">Автомобілі</a>
                    </li>
                    <li class="header__main__list__item">
                        <a href="#" class="header__main__list__item__link">Автотовари</a>
                    </li>
                    <li class="header__main__list__item">
                        <a href="#" class="header__main__list__item__link"
                        >Автозапчастини</a
                        >
                    </li>
                </ul>
            </div>
        </div>

        <div class="header__registration">
            {% if request.user.is_authenticated %}
                <a class="aa-product-img" href="{% url "user:account" request.user %}"><img src="{% static 'IMG/home/avatar.png' %}" alt="" class="header__registrarion__image"></a>
                <a href="{% url "user:logout" %}" class="header__registration__login">Вихід</a>
            {% else %}
                <a href="{% url "user:registration" %}" class="header__registration__login">Реєстрація</a>
                <a href="{% url "user:login" %}" class="header__registration__login">Реєстрація</a>
            {% endif %}
        </div>
    </div>
</header>

<header class="header__responsive">
    <div class="wrapper">
        <div class="header__responsive__logo">
            <a href="#" class="header__responsive__logo__link"
            ><img
                    src="{% static 'IMG/home/Logo.png' %}"
                    alt=""
                    class="heade__responsiver__logo__image"
            /></a>
        </div>
        <div class="header__responsive__registration">
            <img
                    src="{% static 'IMG/home/avatar.png' %}"
                    alt=""
                    class="header__responsive__registrarion__image"
            />
             <a href="{% url "user:login" %}" class="login_btn header__registration__login">Вхід</a>
            <img
                    src="{% static 'IMG/home/menu.png' %}"
                    alt=""
                    class="header__responsive__registration__menu"
            />
        </div>
    </div>
    <div class="header__responsive__main">
        <ul class="header__responsive__main__list">
            <li class="header__responsive__main__list__item">
                <a href="#" class="header__responsive__main__list__item__link"
                >Автомобілі</a
                >
            </li>
            <li class="header__responsive__main__list__item">
                <a href="#" class="header__responsive__main__list__item__link"
                >Автотовари</a
                >
            </li>
            <li class="header__responsive__main__list__item">
                <a href="#" class="header__responsive__main__list__item__link"
                >Бендер</a
                >
            </li>
        </ul>
    </div>
</header>

{#<form id="login-form" class=" login__form mfp-hide white-popup-block">#}
{#	<fieldset class="wrapper">#}
{#          <div class="login__form__info">#}
{#            <h1>Увійдіть щоб продовжити</h1>#}
{#            <div class="login__form__inputs">#}
{#            <input type="text" placeholder="Ім'я" class="login__form__name">#}
{#            <input type="password" placeholder="Пароль" class="login__form__password">#}
{#            </div>#}
{#            <button type="submit" class="login__form__button">Увійти</button>#}
{#            <p class="login__form__text">Єслі ти не гамасек <a href="#">зареєстріруйся</a> за 10 сек</p>#}
{#          </div>#}
{#	</fieldset>#}
{#</form>#}