{% load static %}

<nav aria-label="Page navigation" class="pagg">
    <div class="wrapper">
    {% if page.has_other_pages %}
        <ul class="pagination">
            {% if page.has.previous %}
                <li><a aria-label="Previous" href="
                ?page={{ page.previous_page_number }}" class="link__visited"><img src="{% static 'IMG/account/arrow.png' %}" alt="" class="pagg__prev" /></a>
                </li>
            {% else %}
                <li class="disabled"><img src="{% static 'IMG/account/arrow.png' %}" alt="" class="pagg__prev" />
            {% endif %}
            {% for pages in page.paginator.page_range %}
                {% if page.number == pages %}
                    <li class="active"><span>{{ pages }}</li>
                {% else %}
                    <li><a href="?page={{ pages }}">{{ pages }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page.has_next %}
                <li><a href="?page={{ page.next_page_number }}"><img src="{% static 'IMG/account/arrow.png' %}" alt="" class="pagg__next" /></a></li>
            {% else %}
                <li class="disabled"><img src="{% static 'IMG/account/arrow.png' %}" alt="" class="pagg__next" /></li>
            {% endif %}
        </ul>
        </div>
    {% endif %}
</nav>