{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'IMG/home/rick&morti.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'CSS/carpage.css' %}"/>

</head>
<body>


<div class="wrapper">
    <section id="header">
        {% include 'base/header.html' %}
    </section>
    <section id="content" class="container-fluid">
        {% block content %}{% endblock %}
    </section>
<section class="auto">
      <div class="auto__title">
        <h1 class="auto__title__name">Ford C-Max 2010</h1>
      </div>

      <div class="wrapper">
        <div class="auto__info__wrapper">
          <div class="auto__info__fixed">
            <div class="auto__info">
              <div class="auto__info__description">
                <span class="auto__info__description__price__usd">7 800 $</span>
                <p class="auto__info__description__price__uah">196 170 грн</p>
              </div>
            </div>
            <div class="auto__user">
              <div class="auto__user__description">
                <img
                  src="{% static 'IMG/carpage/avatar.png' %}"
                  alt=""
                  class="auto__user__description__image"
                />
                <p class="auto__user__description__name">Орест</p>
              </div>
              <p class="auto__user__address">Дпріпропердинськ</p>
              <span class="auto__user__number">(096) ххх хх хх</span>
            </div>
          </div>
        </div>
        <div class="auto__character">
          <div
            class="auto__character__gallery fotorama"
            data-nav="thumbs"
            data-maxwidth="550"
            data-maxheight="400"
            data-fit="cover"
          >
            <a href="1.jpg"
              ><img
                class="auto__gallery__image"
                src="{% static 'IMG/carpage/ford_c-max__296657900f.jpg' %}"
            /></a>
            <a href="2.jpg"
              ><img
                class="auto__gallery__image"
                src="{% static 'IMG/carpage/ford_c-max__296657900f.jpg' %}"
            /></a>
            <a href="3.jpg"
              ><img
                class="auto__gallery__image"
                src="{% static 'IMG/carpage/ford_c-max__296657900f.jpg' %}"
            /></a>
            <a href="4.jpg"
              ><img
                class="auto__gallery__image"
                src="{% static 'IMG/carpage/ford_c-max__296657900f.jpg' %}"
            /></a>
            <a href="5.jpg"
              ><img
                class="auto__gallery__image"
                src="{% static 'IMG/carpage/ford_c-max__296657900f.jpg' %}"
            /></a>
          </div>
          <div class="auto__character__wrapper">
            <div class="auto__character__point">
              <ul>
                <li>Двигун:</li>
                <li>Коробка передач:</li>
                <li>Привід:</li>
                <li>Розхід топлива на 100км:</li>
              </ul>
            </div>
            <div class="auto__character__text">
              <ul>
                <li>
                  3.0 л (400 л.с. • 294.1 кВт) • Дизтопливо
                </li>
                <li>
                  ручна якшо привід задній
                </li>
                <li>
                  канешно шо задній
                </li>
                <li>
                  6 л
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
</div>

{% include 'base/footer.html' %}

{# Тут також підключається всяка гравіцапа #}

<script src="{% static 'JS/main.js' %}"></script>

<script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"
></script>


</body>
</html>