{% extends 'base/base.html' %}
{% load static %}

{% block title %}Main page{% endblock %}

{% block content %}
      <section class="goods">
    <div class="wrapper">
      <div class="goods__car">
        <div class="goods__car__image">
          <img
            src="{% static 'IMG/ford_c-max__296657900f.jpg' %}"
            alt=""
            class="goods__car__image-image"
          />
        </div>
        <div class="goods__car__description">
          <a href="#" class="goods__car__description__name">Ford C-Max 2010</a>
          <div class="goods__car__description__price">
            <span class="goods__car__description__price__usd">7 800 $</span>
            <p class="goods__car__description__price__uah">196 170 грн</p>
          </div>
          <div class="goods__car__description__wrapper">
          <div class="goods__car__description__character">
            <p class="goods__car__description__character__km goods__car__description__character__basis"><img src="{% static 'IMG/speedometer.png' %}" alt="">137 тыс. км</p>
            <p class="goods__car__description__character__city goods__car__description__character__basis"><img src="{% static 'IMG/location-point.png' %}" alt="">Дніпропердинськ</p>
            <p class="goods__car__description__character__fuel goods__car__description__character__basis"><img src="{% static 'IMG/gasoline.png' %}" alt="">Газ/бензин</p>
            <p class="goods__car__description__character__transmission goods__car__description__character__basis"><img src="{% static 'IMG/manual-transmission.png' %}" alt="">
              Ручна/автомат
            </p>
          </div>
          </div>
          <div class="goods__car__description__license">
            <p class="goods__car__description__license__number">PP1488NN</p>
          </div>
        </div>
      </div>
      <div class="test">
      </div>
    </div>
  </section>
{% endblock %}