{% extends 'base/base.html' %}
{% load static %}

{% block title %}Main page{% endblock %}

{% block content %}
      <section class="form__section">
      <div class="wrapper">
        <form action="" class="form">
          <div class="form__wrapper">
            <div class="form__car">
              <select class="form__car__type">
                <option>Хуяк</option>
              </select>
              <select class="form__car__mark">
                <option>Хуяк</option>
              </select>
              <select class="form__car__model">
                <option>Хуяк</option>
              </select>
            </div>
            <div class="form__info">
              <div class="form__info__region form__info__flex">
                <p>Регіон</p>
                <select class="form__info__region__select">
                  <option>Хуяк</option>
                </select>
              </div>
              <div class="form__info__year form__info__flex">
                <p>Рік</p>
                <select class="form__info__year__start">
                  <option>санчез</option>
                </select>
                <select class="form__info__year__end">
                  <option>С137</option>
                </select>
              </div>
              <div class="form__info__price form__info__flex">
                <p>Ціна</p>
                <input type="number" class="form__info__price__start" />
                <input type="number" class="form__info__price__end" />
              </div>
                <div class="form__info__button">
                <button class="form__info__button__search">Пошук</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>
    <section class="goods">
        {% for post in posts %}
    <div class="wrapper">

      <div class="goods__car">
        <div class="goods__car__image">
          <a href="{{ post.get_absolute_url }}" class="goods__car__image__link"><img
            src="{{ post.image.url }}"
            alt=""
            class="goods__car__image-image"
          />
          </a>
        </div>
        <div class="goods__car__description">
          <a href="{{ post.get_absolute_url }}" class="goods__car__description__name">{{ post.title }}</a>
          <div class="goods__car__description__price">
            <span class="goods__car__description__price__usd">{{ post.price_usd }} $</span>
            <p class="goods__car__description__price__uah">{{ post.price_uah }} грн</p>
          </div>
          <div class="goods__car__description__wrapper">
          <div class="goods__car__description__character">
               <p class="goods__car__description__character__km goods__car__description__character__basis"><img src="{% static 'IMG/home/speedometer.png' %}" alt="">{{ post.mileage }}</p>
            <p class="goods__car__description__character__city goods__car__description__character__basis"><img src="{% static 'IMG/home/location-point.png' %}" alt="">{{ post.location }}</p>
            <p class="goods__car__description__character__fuel goods__car__description__character__basis"><img src="{% static 'IMG/home/gasoline.png' %}" alt="">{{ post.get_fuel_display}}</p>
            <p class="goods__car__description__character__transmission goods__car__description__character__basis"><img src="{% static 'IMG/home/manual-transmission.png' %}" alt="">
              {{ post.get_gearbox_display }}
            </p>
          </div>
          </div>
            {% if post.numberplate %}
          <div class="goods__car__description__license">
            <p class="goods__car__description__license__number">{{ post.numberplate }}</p>
          </div>
            {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </section>
{% include 'base/paginator.html' with page=posts %}
{% endblock %}