{% extends 'base/base.html' %}
{% load static %}
{% block title %}Детальна інформація про машину{% endblock %}
{% block content %}
<div class="wrapper">
<section class="auto">
      <div class="auto__title">
        <h1 class="auto__title__name">{{ post.title }}</h1>
      </div>
      <div class="wrapper">
        <div class="auto__info__wrapper">
          <div class="auto__info__fixed">
            <div class="auto__info">
              <div class="auto__info__description">
                <span class="auto__info__description__price__usd">{{ post.price_usd }} $</span>
                <p class="auto__info__description__price__uah">{{ post.price_uah }} UAH</p>
              </div>
            </div>
            <div class="auto__user">
              <div class="auto__user__description">
                <img
                  src="{{ post.image.url }}"
                  alt=""
                  class="auto__user__description__image"
                />
                <p class="auto__user__description__name">{{ post.user }}</p>
              </div>
              <p class="auto__user__address">{{ post.location }}</p>
              <span class="auto__user__number">(096) ххх хх хх</span>
            </div>
          </div>
        </div>
        <div class="auto__character">
          <div
            class="auto__character__gallery">
              <img class="auto__character__gallery__img"
                src="{{ post.image.url }}">
          </div>
          <div class="auto__character__wrapper">
            <div class="auto__character__point">
              <ul>
                <li>Двигун:</li>
                <li>Коробка передач:</li>
              </ul>
            </div>
            <div class="auto__character__text">
              <ul>
                <li>
                  {{ post.engine_capacity }} • {{ post.get_fuel_display}}
                </li>
                <li>
                  {{ post.get_gearbox_display }}
                </li>
              </ul>
            </div>
          </div>
            <div class="zoidberg">
                {{ post.description }}
            </div>
        </div>
      </div>
    </section>
</div>
{% endblock %}